
.greetings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.greetings h1{
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-top: 90px;

}

.line{
    width: 700px;
    border: 1px solid #000;
}
.greetings h2{
    width: 35%;
    background-color: rgb(209, 160, 160);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    font-size: 25;
    padding: 20px;
    margin-top: 30px;
}


    .header li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
     #icon{
        color: #fff;
        font-size: 30px;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
@media (max-width:1264px){ 
   .header ul{
    display: flex;
    padding: 10px;
    margin-top: 10px;
   }
   .logo{
    width: 80px;
   }
   .div{
    font-size: 10px;
   }
}
@media (max-width:750px){
    .greetings{
        transform: translateX(100px);
     }
     .greetings h1{
         width: 40%;
         font-size: 15px;
     }
     .greetings h2{
         width: 30%;
         font-size: 10px;
     }
     .line{
         width: 100%;
         border: 1px solid #000;
     }
}

@media (max-width:520px){
    .greetings{
       transform: translateX(200px);
    }
    .greetings h1{
        width: 50%;
        font-size: 15px;
    }
    .greetings h2{
        width: 40%;
        font-size: 10px;
    }
    .line{
        width: 100%;
        border: 1px solid #000;
    }
}

@media (max-width:260px){
    .div{
        flex:0.5;
        font-size: 10px;
    }
    .greetings{
        transform: translateX(300px);
     }
     .greetings h1{
         width: 100%;
         font-size: 15px;
     }
     .greetings h2{
         width: 100%;
         font-size: 10px;
     }
     .line{
         width: 100%;
         border: 1px solid #000;
     }
}