*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



nav{
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
    height: 70px;
    font-size: 30px;
    text-decoration: none;
}

.logo{
    width: 100px;
    border-radius: 20px;
    color: #fff;
}
.logo:hover{
    width: 110px;
    transition: 0.5s;
}

nav ul{
    display: flex;
    gap: 100px;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-icon{
    display: block;
}

@media (max-width: 370px){
    nav{
        display: flex;
        font-size: 10px;
        gap: 0px;
    }
    .nav-ul{
        gap: 1px;
    }
    .logo{
        width: 30px;
    }
}



